@import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap');

/***************************
Reset
***************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/***************************
Globals
***************************/
body {
  background-color: #eeeeee;
  color: black;
  display: flex;
  font-family: 'Karla', sans-serif;
  flex-direction: column;
  align-items: center;
  /* Vertikal zentrieren */
  justify-content: center;
  min-height: 100vh;
  padding: 10px;
}

p {
  margin: 5px 0;
}

h2 {
  margin: 10px 0 20px;
  text-align: center;
}

input[type='checkbox'] {
  margin-right: 0;
}

/***************************
Container
***************************/
.container {
  background-color: #eeeeee;
  box-shadow: -7px -7px 7px 0px rgba(255, 255, 255, 1),
    10px 10px 10px 10px rgba(0, 0, 0, 0.08);
  padding: 20px;
  width: 500px;
  max-width: 100%;
  border-radius: 20px;
}

/***************************
Ausgabe Container
***************************/
.result-container {
  background-color: #eeeeee;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  font-size: 1.125em;
  letter-spacing: 1px;
  padding: 12px 10px;
  height: 50px;
  width: 100%;
  border-radius: 20px;
  box-shadow: -4px -4px 4px 0px rgba(255, 255, 255, 1),
    4px 4px 4px 4px rgba(0, 0, 0, 0.08);
}

.result-container #result {
  word-wrap: break-word;
  max-width: calc(100% - 40%);
}

.result-container .btn {
  position: absolute;
  top: 5px;
  right: 5px;
  height: 40px;
  width: 40px;
  background-color: #eeeeee;
}

.btn {
  border: none;
  color: black;
  cursor: pointer;
  font-size: 1em;
  padding: 8px 12px;
  background-color: #eeeeee;
}

/***************************
Auswahlmöglichkeiten (Checkboxes)
***************************/
.setting {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

input[type='number'] {
  font-size: 1em;
  font-family: 'Karla', sans-serif;
}

@media screen and (max-width: 400px) {
  .result-container {
    font-size: 0.875em;
  }

  input[type='number'] {
    font-size: 0.875em;
    font-family: 'Karla', sans-serif;
  }
}

/***************************
Passwort generieren Button
***************************/
.btn-large {
  width: 50%;
  box-shadow: -4px -4px 4px 0px rgba(255, 255, 255, 1),
    4px 4px 4px 4px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
  margin: 0 25%;
}
